{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/git",
    "@semantic-release/github",
    [
      "@eclass/semantic-release-docker",
      {
        "baseImageName": "do-ansible-provision",
        "registries": [
          {
            "url": "docker.io",
            "imageName": "docker.io/brpaz/do-ansible-provision",
            "user": "DOCKER_USER",
            "password": "DOCKER_PASSWORD"
          }
        ]
      }
    ]
  ]
}