{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator", 
    "@semantic-release/github",
    "@iteratec/semantic-release-docker"
  ],
  "verifyConfig": ["@iteratec/semantic-release-docker"],
  "prepare": {
    "path": "@iteratec/semantic-release-docker",
    "imageName": "myimage",
    "respositoryName": "brpaz"
  },
  "publish": {
    "path": "@iteratec/semantic-release-docker"
  }
}